@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Quicksand&display=swap');

html {
    font-size: 16px;
}

body {
    background: #F5F6F0;
    background-image: url(Asset/Ellipse\ above\ 1.svg),
    url(Asset/Ellipse\ lower.svg),
    url(Asset/Ellipse\ title.svg),
    url(Asset/Ellipse\ big.svg);
    background-repeat: no-repeat;
    background-position:
        top left,
        bottom left,
        6% center,
        top right;
    background-size: 
        30%,
        30%,
        35%,
        43%;
    margin: 0px;
    padding: 1px;
}

button {
    cursor: pointer;
}



.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 13px 47px;
}

ul a {
    display: flex;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: #242121;
}

.n {
    list-style: none;
    margin-left: 20px;
}

.n li {
    display: inline-block;
    padding: 0px 20px;
}

.n li a:hover {
    color: #63A15F;
}

.h {
    cursor: pointer;
    margin-right:auto;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

.h li {
    display: inline;
}

.h li i{
    padding-right: 2px;
}

.h li a{
    color: rgb#242121;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    align-items: flex-start;
}

.h li a:hover {
    color: #63A15F;
}

#maincontent {
    position: relative;
    top: 9.984vh;
    bottom: 9.984vh;
}

.content {
    display: flex;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
}

.text h1 {
    font-size: 4.519vw;
    font-weight: 700;
    color: #242121;
    margin-bottom: 22px;
}

.text .solve {
    list-style: none;
    background-color: #63A15F;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F5F6F0;
    border: none;
    padding: 18px 27px;
}

.calimage {
    max-width: 31.529vw;
    min-width: 18.392vw;
    max-height: 31.529vw;
    min-height: 18.392vw;
    margin: 0px 0px 0px 269px;
}