@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Quicksand&display=swap');

html {
    font-size: 16px;
}

body {
    background: #F5F6F0;
    background-image: url(Asset/Ellipse\ above\ 1.svg),
    url(Asset/Ellipse\ lower.svg),
    url(Asset/Ellipse\ big.svg);
    background-repeat: no-repeat;
    background-position:
        top left,
        20% bottom,
        top right;
    background-size: 
        max(min(300px), 20%),
        30%,
        43%;
    margin: 0px;
    padding: 1px;
}

button {
    cursor: pointer;
}



.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 13px 47px;
}

ul a {
    display: flex;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #242121;
}

.n {
    list-style: none;
    margin-left: 20px;
}

.n li {
    display: inline-block;
    padding: 0px 20px;
}

.n li a:hover {
    color: #63A15F;
}

.h {
    cursor: pointer;
    margin-right:auto;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

.h li {
    display: inline;
}

.h li i{
    padding-right: 2px;
}

.h li a{
    color: rgb#242121;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    align-items: flex-start;
}

.h li a:hover {
    color: #63A15F;
}

#maincontent {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%);
    z-index: 100;
}

.content {
    display: grid;
    grid-template-areas: "head img";
    position: relative;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.text {
    grid-area: head;
    background-image: url(Asset/Ellipse\ title.svg);
    background-size: max(min(50%), 90%);
    background-repeat: no-repeat;
    background-position: 50% right;
    margin-right: 7.068vw;
}

.text h1 {
    font-size: max(min(2rem), 4.519vw);
    font-weight: 700;
    color: #242121;
    margin: 10px 0px;
}

.text .solve {
    list-style: none;
    background-color: #63A15F;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F5F6F0;
    border: none;
    padding: max(min(10px), 0.946vw) max(min(19px), 1.419vw);
}

.solve:hover {
    background-color: #579052;
}

.calimage {
    grid-area: img;
    width: 600px;
    min-width: 300px;
    height: 600px;
    min-height: 300px;
    margin-left: 7.068vw;
}

@media only screen and (max-width: 1024px) {
    body {
        background-image: visible, hidden, hidden;
        background-position:
            top left,
            bottom right,
            -999999 top;
        background-size:
            max(min(300px), 20%),
            max(min(350px), 30%),
            0px;
    }

    .content {
        display: grid;
        grid-template-areas: 
            'img' 
            'head';
        grid-gap: 3rem;
        position: relative;
        justify-items: center;
    }

    .calimage {
        width: 90%;
        height: 90%;
    }

  
    
}

@media only screen and (max-width: 600px) {
    .button {
            visibility: hidden;
        }
}
